<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>board</title>
    <link rel="stylesheet" th:href="@{/css/board.css}" />
</head>

<body>
    <div class="container">
        <h2>REST 게시판 목록</h2>
        <table class="board_list">
            <colgroup>
                <col width="15%" />
                <col width="*" />
                <col width="15%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">글번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회수</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.size(boardList)} > 0" th:each="board : ${boardList}">
                    <td th:text="${board.boardIdx}"></td>
					<!--
                    <td class="title" th:text="${board.title}"></td>
					-->
					<td class="title">
						<a href="/rest/board/" 
						th:attrappend="href=${board.boardIdx}"
						th:text="${board.title}"></a>
					</td>
                    <td th:text="${board.hitCnt}"></td>
                    <td th:text="${board.createdDt}"></td>
                </tr>
                <tr th:unless="${#lists.size(boardList)} > 0">
                    <td colspan="4">조회된 결과가 없습니다.</td>
                </tr>
            </tbody>
        </table>
        <a href="/rest/board/write" class="btn">글쓰기</a>
    </div>
</body>

</html>
